html, body {
	color: white;
	margin: 0px !important;
  	padding: 0px !important;
	width: 100% !important;
	height: 100% !important;
  	font-size: 16px;
    box-sizing: border-box !important;
    background-color: black;
    font-family: 'Open Sans', sans-serif !important;
}

.container {
    box-sizing: border-box !important;
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    align-items: center;

}

.divider {
    padding: 0.5px;
    width: 100%;
    height: 0.1px; /* Adjust the height of the HR element as per your requirement */
    border: none; /* Remove the default border */
    /* background-image: linear-gradient(to right, #5ddfff, #3722ff); */
    background-image: linear-gradient(to right, #d04aff, #00abff);
}

/* TOP */
.top {
    display: flex;
    padding: 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 9%;
}

.top > img {
    /* Style for "Logo 1" */
    width: 288px;
    height: 83px;
}

.apply-button {
    /* Style for "Retângulo" */
    cursor: pointer;
    border: none;
    width: 150px;
    height: 40px;
    color: #ffffff;
    border-radius: 27px;
    background-color: #00c0ff;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22.3px;
    font-family: "Open Sans";
}

/* TOP END */


/* MIDDLE */
.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px; 
}

.middle-top {
    display: flex;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.middle-top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-width: 65%;
    height: 100%;
}

.heartbeats {
    padding-left: 10%;
    max-width: 423px;
    height: 59px;
    width: auto;
}

.title-description {
    /* Style for "Boost Your" */
    width: 904px;
    height: 276px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 50px;
    flex-wrap: wrap;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.description {
    /* Style for "As one of" */
    width: auto;
    height: 84px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 29.95px;
    text-align: left;
    /* Text style for "As one of" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.apply-btn {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 15%;
    align-items: center;
}

.middle-top-right {
    box-sizing: border-box;
    min-width: 35%;
    height: 100%;
    overflow: visible;
}

.middle-top-right > img {
    width: 100%;
    height: 100%;
}

.middle-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100%;
    margin-bottom: 0px;
}

.middle-bottom > .clients-img {
    min-height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    min-width: 1343px;
    height: 109px;
}

.middle-bottom > .clients-img > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-width: 230px;
    height: 109px;
}

.svg {
    filter: brightness(0) invert(1);
    width: auto;
}

.middle-bottom > .clients-title {
    display: flex;
    align-items: start;
    min-height: 30%;
}

.middle-bottom > div > span {
    /* Style for "Sirius Cli" */
    padding-top: 0px;
    width: 296px;
    height: 30px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 35.75px;
    text-align: center;
    /* Text style for "Sirius Cli" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
/* MIDDLE END */


/* BOTTOM */
.bottom {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: end;
    min-height: 8%;  
}

.bottom-text {
    /* Style for "Sirius Res" */
    width: 372px;
    min-height: 40px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    padding-bottom: 20px;
}
/* BOTTOM END */